[user]
	email = contact@tigeroakes.com
	name = Tiger Oakes
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[alias]
	amend = commit --amend --no-edit
	edit = commit --amend --only
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[hub]
	protocol = https
