[user]
	email = contact@tigeroakes.com
	name = Tiger Oakes
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[hub]
	protocol = https
