localhost {
  # Testing
  respond "Hello, world!"
}

(robots) {
  respond /robots.txt 200 {
    body "User-agent: *\nDisallow: /"
    close
  }
}

index.tigeroakes.com {
  # Homer
  reverse_proxy localhost:8008
}

home.tigeroakes.com, home2.tigeroakes.com {
  # Home Assistant
  reverse_proxy localhost:8123
  tls {
    alpn http/1.1
  }
}

books.home.tigeroakes.com {
  # Calibre Web
  import robots
  reverse_proxy localhost:8083
}

comics.home.tigeroakes.com {
  # Komga
  import robots
  reverse_proxy localhost:27885
}

chat.home.tigeroakes.com {
  # The Lounge
  reverse_proxy localhost:9000
}

cellwall.tigeroakes.com {
  handle /oauth2callback {
    reverse_proxy 192.168.50.252:3000
  }
}

nodered.home.tigeroakes.com {
  # Node-RED
  reverse_proxy localhost:1880
}

amongus.tigeroakes.com {
  # CrewLink server
  reverse_proxy localhost:9736
}
